@inherits LayoutComponentBase
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider

    <div class="main">

    <!-- Header-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <div id="mobile-menu">
                    <div class="left-nav-toggle">
                        <a href="#">
                            <i class="stroke-hamburgermenu"></i>
                        </a>
                    </div>
                </div>
                <a class="navbar-brand" href="index.html">
                    PARALELAS
                    <span>licitações</span>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="left-nav-toggle">
                    <a href="">
                        <i class="stroke-hamburgermenu"></i>
                    </a>
                </div>
                <form class="navbar-form navbar-left">
                    <input type="text" class="form-control" placeholder="Search data for analysis" style="width: 175px">
                </form>
                @*<ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="versions.html">
                            Versions
                            <span class="label label-warning pull-right">2</span>
                        </a>
                    </li>
                    <li class=" profil-link">
                        <a href="login.html">
                            <span class="profile-address">luna@company.io</span>
                            <img src="images/profile.jpg" class="img-circle" alt="">
                        </a>
                    </li>
                </ul>*@
                <ul class="nav navbar-nav navbar-right">
                    <li class="profil-link">
                        <a href="#" @onclick="@LogoutClick">
                            <span class="profile-address">Sair</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End header-->


        <!-- Nav -->
        <NavMenu />

        <!-- Body -->
        <div class="content">
            @Body
        </div>
    </div>

@functions{

    [CascadingParameter]
    Task<AuthenticationState> AuthenticationState { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        if (!(await AuthenticationState).User.Identity.IsAuthenticated)
        {
            navigationManager.NavigateTo("/login");
        }
    }

    async Task LogoutClick()
    {
        await authStateProvider.Logout();
        navigationManager.NavigateTo("/login");
    }
}