@page "/fetchdata"
@using Blazor.Infra.CrossCutting.SharedUI.ViewModel
@inject HttpClient Http

<h1>Previsão do tempo</h1>

<p>Este componente demonstra a busca de dados do servidor.</p>

<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal1">
    Large Modal
</button>

@if (forecasts == null)
{
    <p><em>Carregando...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="panel panel-filled">
                <div class="panel-heading">
                    <div class="panel-tools">
                        <a class="panel-close" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    </div>
                    <h4 class="modal-title">Cadastro de Nota Fiscal</h4>
                </div>
                <div class="panel-body">

                    <form>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label for="NotaFiscal">N.F</label>
                                    <input type="text" class="form-control" id="NotaFiscal" name="NotaFiscal" placeholder="Nota Fiscal">
                                </div>
                                <div class="col-lg-4">
                                    <label for="DataEmissao">Data</label>
                                    <input type="text" class="form-control" id="DataEmissao" name="DataEmissao" placeholder="Data Emissão">
                                </div>
                                <div class="col-lg-4">
                                    <label for="Cliente">Cliente</label>
                                    <input type="text" class="form-control" id="Cliente" name="Cliente" placeholder="Cliente">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label for="Descricao">Descrição</label>
                                    <input type="text" class="form-control" id="Descricao" name="Descricao" placeholder="Descrição">
                                </div>
                                <div class="col-lg-4">
                                    <label for="ValorCompra">Valor de Compra</label>
                                    <input type="text" class="form-control" id="ValorCompra" name="ValorCompra" placeholder="Valor de Compra">
                                </div>
                                <div class="col-lg-4">
                                    <label for="Imposto">Imposto</label>
                                    <input type="text" class="form-control" id="Imposto" name="Imposto" placeholder="Imposto">
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="form-group">
                                <div class="col-lg-4">
                                    <label>
                                        <input type="checkbox"> Ativo
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="pull-right">
                            <button type="button" class="btn btn-accent">Salvar</button>
                        </div>
                        <br />
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

@code {
    WeatherForecastViewModel[] forecasts;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await Http.GetJsonAsync<WeatherForecastViewModel[]>("https://localhost:44301/api/weatherforecast");
    }

}
