@using Microsoft.AspNetCore.Components.Authorization
@page "/"

<AuthorizeView>
    <Authorized>
        <h1>Olá @context.User.Identity.Name.ToUpper() !!</h1>

        <p>Bem-vindo ao sistema Paralelas.</p>

    </Authorized>
    <Authorizing>
        <h1>Carregando ...</h1>
    </Authorizing>
</AuthorizeView>